@import "../../../common/styles/mixins";
@import "../../../common/styles/variables";

.error-message-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: rgba(0, 0, 0, 0.4);
	.error-message-text {
		background-color: $mainColor;
		font-size: 30px;
		font-weight: bold;
		padding: 30px;
		color: $heartColor;
		cursor: pointer;
	}
}
